{% extends 'HTML/index.html' %}                                                             # herda a pagina index 

{% block title %} Registros {% endblock %} 


{% block head %}
    {% load static %}
    {% get_static_prefix as STATIC_URL %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/alimentos.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/alimentos.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $("#date").datepicker({ nextText: "", prevText: "", changeMonth: true, changeYear: true }).mask("99/99/9999");

            $("html").on("click","#enviaReg",function(){
                var nTotal = $("#totalCal").val($("#totalcal").text());
                var nGlicemia = $("#Glic").val();
                var nUni = $("#Uni").val();
                var dtGlic = new Date($("#date").val());
                var dtHj = new Date();
                var boolInsulina = $("#ins").val();
                
                if(dtGlic > dtHj)
                {
                    alert("informe uma data valida");
                }
                else if (dtHj.getDate() - dtGlic.getDate() >  5  || dtHj.getDate() - dtGlic.getDate() < -25)
                {    
                    alert("São validas as aplicações de até 5 dias");
                }
                else
                {
                    if ($("#totalcal").text() == ""){
                        alert ("Valor de calorias não informado");
                    }
                    if (nTotal.val() > 400){
                        confirm("Valor calorio muito alto, você ingeriu mesmo "+ nTotal.val() +"?");
                    }
                    if (nGlicemia > 250 || nGlicemia < 0) {
                        alert("Glicemia fora dos padrões(Entre 0 e 250)");
                    }
                    if (nUni < 0 || nUni > 200){
                        alert("Valor de unidades invalido (Entre 0 e 250)");
                    }
                    if (boolInsulina == 'S' && nUni == 0)
                    {
                        alert("Quantas unidades você tomou?");
                    }
                }
            });
        });    
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>-
{% endblock %}


{% block menu %}
    <li><a class="w3-padding" href="/registros/">Registros </a></li>
    <li><a class="w3-padding" href="/calculadora/">Calculadora</a></li>
    <li><a class="w3-padding" href="/grafico/">Gráficos</a></li>
    <li><a class="w3-padding" href="/relatorios/">Relatórios</a></li>
{% endblock %}

{% block content %}                                 
<form action="" class="form-signin" method="post">{% csrf_token %}
	<h2 class="form-signin-heading">Registros</h2>
    <div class="col-lg-6">
        <h4 class="form-signin-heading">Data</h4>
        <input id="date" type="text" tabindex="1" name="RegData" class="form-control" id="data" required/>
        
        <input type="hidden" id="totalCal" name="totalCal" value="0">

        <h4 class="form-signin-heading">Hora</h4>
        <select type= "" name="Hora" min="0" max="250" class="form-control" required>
            <option value="1">Antes do café</option>
            <option value="2">Depois do café</option>
            <option value="3">Antes do almoço</option>
            <option value="4">Depois do almoço</option>
            <option value="5">Antes do jantar</option>
            <option value="6">Depois do jantar</option>
            <option value="7">De madrugada</option>
        </select>


        <h4 class="form-signin-heading">Glicose</h4>
        <input type="number" name="nivelGlicose" id="Glic" placeholder="mg/dl" class="form-control" required>

    </div>
    <div class="col-lg-6">
        <h4 class="form-signin-heading">Unidades</h4>
        <input id="number" type="number" tabindex="1" id="Uni" name="Unidades" class="form-control" placeholder="Un." required/>
        <h4 class="form-signin-heading">Comentário</h4>
        <input type="area" name="Coment" class="form-control" required>
        <br>
        <center>
        <h4 class="form-signin-heading">Tomou insulina?</h4>
        <input type="radio" name="ins" id="ins" value="S"> Sim     
        <input type="radio" name="ins" id="ins" value="N"> Não
        <br>    
        <button class="btn btn-lg btn-primary" id="enviaReg" type="submit">Cadastrar</button>    
        </center>
    </div>
    <div class="row">
        <div class="col-md-4">
        <h2>O que você comeu?</h2>        
        <div id="produtos">
            <div class="listprod"><a href="javascript:escolha('BEBIDAS')">BEBIDAS</a></div>
            <div class="listprod"><a href="javascript:escolha('CARNES, FRIOS E OVOS')">CARNES, FRIOS E OVOS</a></div>
            <div class="listprod"><a href="javascript:escolha('DOCES E SOBREMESAS')">DOCES E SOBREMESAS</a></div>
            <div class="listprod"><a href="javascript:escolha('FRUTAS')">FRUTAS</a></div>
            <div class="listprod"><a href="javascript:escolha('GRÃOS, TUBÉRCULOS E CEREAIS')">GRÃOS, TUBÉRCULOS E CE/REAIS</a></div>
            <div class="listprod"><a href="javascript:escolha('LEITE E IOGURTES')">LEITE E IOGURTES</a></div><div class="listprod"><a href="javascript:escolha('MASSAS E CIA.')">MASSAS E CIA.</a></div>
            <div class="listprod"><a href="javascript:escolha('MOLHOS E TEMPEROS')">MOLHOS E TEMPEROS</a></div>
            <div class="listprod"><a href="javascript:escolha('PEIXES E FRUTOS DO MAR')">PEIXES E FRUTOS DO MAR</a></div>
            <div class="listprod"><a href="javascript:escolha('PETISCOS')">PETISCOS</a></div>
            <div class="listprod"><a href="javascript:escolha('PRATOS VARIADOS')">PRATOS VARIADOS</a></div>
            <div class="listprod"><a href="javascript:escolha('PÃES E BISCOITOS')">PÃES E BISCOITOS</a></div>
            <div class="listprod"><a href="javascript:escolha('QUEIJOS')">QUEIJOS</a></div>
            <div class="listprod"><a href="javascript:escolha('SANDUÍCHES')">SANDUÍCHES</a></div>
            <div class="listprod"><a href="javascript:escolha('VERDURAS E LEGUMES')">VERDURAS E LEGUMES</a></div>
            <div class="listprod"><a href="javascript:escolha('ÓLEOS E GORDURAS')">ÓLEOS E GORDURAS</a></div>
        </div>

        </div>

        <div class="col-md-8">
        <br>
        <div class="linha">
        <div class="item1"><b>Alimento</b></div>
        <div class="item2"><b>Quantidade</b></div>
        <div class="item3"><b>CHO</b></div>
        </div>
        <div id="select"></div>
        <p>Total de calorias</p><div id="totalcal" ></div>
        </div>
        <p>Alimentos selecionados, clique para remover.</p>
        <div class="col-md-8"> 
        <div id="escolha"></div>
        </div>
        </div>
        <br>
        </div>
</form> 
{% endblock %}                                                                              # fim do conteudo adicional