/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
#formModal {
    position: absolute;
    left: 20%;
    z-index: 999;
}

#Tamanhopopup{
	padding: 20px;
	width: 800px;
}
.info{
	padding-left: 70px; 
}